#MONGO CREDENTIALS
MONGO_HOST=DB_HOST
MONGO_PORT=0000
MONGO_NAME=DB_NAME

#MYSQL CREDENTIALS
SPRING_DATASOURCE_URL=jdbc:mysql://CONTAINER:PORT/DB_NAME
SPRING_DATASOURCE_USERNAME=USER
SPRING_DATASOURCE_PASSWORD=PASSWORD

#APIKEY OPEN AI
OPENAI_API_KEY=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

#SECRETS
#JWT SECRET

#JWT EXPIRATION TIME

#JWT ALGORITHM

#BCRYPT SECRET