#MONGO CREDENTIALS
MONGO_HOST=DB_HOST
MONGO_PORT=0000
MONGO_NAME=DB_NAME

#MYSQL CREDENTIALS
SPRING_DATASOURCE_URL=jdbc:mysql://CONTAINER:PORT/DB_NAME
SPRING_DATASOURCE_USERNAME=USER
SPRING_DATASOURCE_PASSWORD=PASSWORD

#APIKEY OPEN AI
OPENAI_API_KEY=OPENAI_API_KEY

#SECRETS
#JWT SECRET

#JWT EXPIRATION TIME

#JWT ALGORITHM

#BCRYPT SECRET
