#MONGO CREDENTIALS
MONGO_PORT=
MONGO_HOST=
MONGO_NAME=

#MYSQL CREDENTIALS
MYSQL_USER=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=


#APIKEY OPEN AI
AI_API_KEY=

#SECRETS

#JWT SECRET
JWT_SECRET_KEY=
#JWT EXPIRATION
JWT_EXPIRATION=
#JWT ALGORITHM

#BCRYPT SECRET